<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head('회원정보 수정')}"></head>
<link rel="stylesheet" th:href="@{/css/detail-update.css}">
<body class="flex flex-col min-h-screen bg-base-100">

<header th:replace="~{fragments/header}"></header>

<main class="flex-grow pt-24 pb-28">
    <section class="update-section">
        <h1>회원정보 수정</h1>

        <form th:action="@{/member/update}" method="post">
            <div>
                <label>아이디</label>
                <input type="text" th:value="${memberDto.userID}" name="userID" readonly>
            </div>

            <div>
                <label>이름</label>
                <input type="text" th:value="${memberDto.userName}" name="userName" required>
            </div>

            <div>
                <label>이메일</label>
                <input type="email" th:value="${memberDto.userEmail}" name="userEmail" required>
            </div>

            <div>
                <label>비밀번호</label>
                <input type="password" name="userPW" placeholder="새 비밀번호 입력(빈 칸 : 기존 비밀번호)">
            </div>

            <div class="btn-area">
                <button type="submit" class="btn btn-primary">수정 완료</button>
                <a th:href="@{/member/info}" class="btn btn-secondary">취소</a>
            </div>
        </form>
    </section>
</main>

<script th:if="${msg != null}" th:inline="javascript">
    alert([[${msg}]]);
</script>

<footer th:replace="~{fragments/footer::footer-sns}"></footer>
</body>
</html>
