<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head('로그인')}"></head>
<body class="flex flex-col min-h-screen pt-20 pb-28 bg-base-100">

<header th:replace="~{fragments/header}"></header>

<main class="flex-grow pt-24 pb-28">
    <form action="../member/login" method="post" th:object="${loginDto}" class="max-w-2xl mx-auto space-y-4" id="section">
        <h1 class="text-3xl my-10">로그인</h1>

        <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-error shadow mb-4">
            <ul class="list-disc pl-5">
                <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
            </ul>
        </div>

        <div class="form-control">
            <label class="label"><span class="label-text font-bold mb-2">USER ID</span></label>
            <input type="text" th:field="*{userID}" placeholder="아이디를 입력하세요."
                   class="input input-bordered w-full"/>
        </div>

        <div class="form-control">
            <label class="label mb-2"><span class="label-text font-bold">PASSWORD</span></label>
            <input type="password" th:field="*{userPW}" placeholder="비밀번호 입력"
                   class="input input-bordered w-full"/>
        </div>

        <div class="form-control mt-6">
            <button class="btn btn-primary w-full">로그인</button>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/footer::footer-sns}"></footer>

<script th:inline="javascript">
    const error = /*[[${error}]]*/ null;
    if (error) alert(error);
</script>
</body>
</html>
