<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head('회원가입')}"></head>
<body class="flex flex-col min-h-screen pt-20 pb-28 bg-base-100">

<header th:replace="~{fragments/header}"></header>

<main class="flex-grow">
    <form action="../member/signup" method="post" th:object="${memberDto}" class="max-w-2xl mx-auto space-y-4">
        <h1 class="text-3xl my-10 text-center">회원가입</h1>

        <div class="form-control">
            <label class="label"><span class="label-text font-bold mb-2">USER ID</span></label>
            <div class="flex items-center gap-2">
                <input type="text" th:field="*{userID}" placeholder="아이디를 입력하세요."
                       class="input input-bordered flex-1 "/>
                <button type="button" class="btn btn-primary" id="btn-id-check">아이디 중복 확인</button>
            </div>
        </div>

        <div class="form-control">
            <label class="label mb-2"><span class="label-text font-bold">PASSWORD</span></label>
            <input type="password" th:field="*{userPW}" placeholder="비밀번호 입력"
                   class="input input-bordered w-full"/>
        </div>

        <div class="form-control">
            <label class="label mb-2"><span class="label-text font-bold">PASSWORD CONFIRM</span></label>
            <input type="password" th:field="*{userPWConfirm}" placeholder="비밀번호 재입력"
                   class="input input-bordered w-full"/>
        </div>

        <div class="form-control">
            <label class="label mb-2"><span class="label-text font-bold">USER NAME</span></label>
            <input type="text" th:field="*{userName}" placeholder="이름"
                   class="input input-bordered w-full"/>
        </div>

        <div class="form-control">
            <label class="label mb-2"><span class="label-text font-bold">EMAIL</span></label>
            <input type="text" th:field="*{userEmail}" placeholder="이메일"
                   class="input input-bordered w-full"/>
        </div>

        <div class="form-control mt-6">
            <button class="btn btn-primary w-full">회원가입</button>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/footer::footer-sns}"></footer>

<script>
    const btnIdCheck = document.querySelector("#btn-id-check");
    const userID = document.querySelector("#userID");
    btnIdCheck.addEventListener("click", async () => {
        const res = await fetch("/member/idCheck", {
            method: "post",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ userID: userID.value })
        });
        const data = await res.json();
        alert(data.isDuplicate ? "쓸 수 없는 아이디입니다." : "사용 가능한 아이디입니다!");
    });
</script>
</body>
</html>
